<div id="header">
	<header id="root-header">
		<div id="nav-left">
			<ul>
				<li>
					<a href="#" class="menu">Locations</a>
					<ul class="dropdown">
						<li><a>Kanata</a></li>
						<li><a>Orleans</a></li>
						<li><a>Gatineau</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#" class="menu">About Us</a>
					<ul class="dropdown">
						<li><a>Our Story</a></li>
						<li><a>Made in Canada</a></li>
					</ul>
				</li>
			</ul>
		</div>

		<div id="home-logo">
			<a href="#"><img id="logo" src="./api/img/lapensee-logo.png" /></a>
		</div>

		<div id="nav-right">
			<ul>
				<li>
					<a href="#" class="menu">Shop</a>
					<ul class="dropdown">
						<li><a>Mattresses</a></li>
						<li><a>Accessories</a></li>
						<li><a>Adjustable Beds</a></li>
					</ul>
				</li>
			</ul>
			<ul>
				<li>
					<a href="#" class="menu">Cart</a>
				</li>
			</ul>
		</div>

		<div id="insta-anchor">
			<a href="https://www.instagram.com/lapenseemattresses/?hl=fr"><img id="insta-logo"
					src="./api/img/instalogo.svg"></a>
		</div>

		<div id="facebook-anchor">
			<a href="https://www.facebook.com/matelaslapensee/"><img id="facebook-logo"
					src="./api/img/facebooklogo.png"></a>
		</div>

		<div id="up-anchor">
			<a href="#top"><img id="anchor-img" src="./api/img/anchorarrow.png"></a>
		</div>
	</header>
</div>

<div id="madecanada">
	<img id="canada-logo" src="./api/img/canada.png">
	<p id="canadatext">Proudly made in Canada</p>
	<img id="canada-logo" src="./api/img/canada.png">
</div>

<div id="slideshowquote-container">
	<div id="testimonials-container">
		<div id="testimonial-text">
			<p>"Great service, quick delivery, <br>
				and amazing customer service. <br>
				I will definitely be back!" <br>
				- Andrew</p>
		</div>
	</div>

	<div id="slideshow-container">
		<img id="slideshow-img" src="./api/img/instafeed.png" />
	</div>

	<div id="testimonials-container">
		<div id="testimonial-text">
			<p>"The comfiest bed I've ever owned, <br>
				and it's made in Canada! <br>
				I love how adjustable it is." <br>
				- Katie</p>
		</div>
	</div>
</div>


<div id="bundle-header">
	<p>Find your bundle and shop quickly</p>
</div>

<div id="bundle-container">
	<div class="bundle">
		<p class="bundle-p">Baby on the way</p>
		<p class="bundle-sub">Only the best baby beds</p>
		<img class="bundle-img" src="./api/img/baby.png" />
	</div>

	<div class="bundle">
		<p class="bundle-p">Save the marriage</p>
		<p class="bundle-sub">Ultimate comfort</p>
		<img class="bundle-img" src="./api/img/marriage.png" />
	</div>

	<div class="bundle">
		<p class="bundle-p">Fanciful pets</p>
		<p class="bundle-sub">No more whining</p>
		<img class="bundle-img" src="./api/img/pets.jpg" />
	</div>

	<div class="bundle">
		<p class="bundle-p">Comfort Grandma</p>
		<p class="bundle-sub">Adjustable beds</p>
		<img class="bundle-img" src="./api/img/grandma.png" />
	</div>
</div>

<div id="sitemap-container">
	<ol class="map">
		<li>
			<a href="#">
				<p class="map-header">Shop</p>
			</a>
		</li>

		<li>
			<p>Pocket Coil Mattresses</p>
		</li>

		<li>
			<p>Foam Mattresses</p>
		</li>

		<li>
			<p>Custom Mattresses</p>
		</li>

		<li>
			<p>FAQ</p>
		</li>

		<li>
			<p>Warranty</p>
		</li>
	</ol>

	<ol class="map">
		<li>
			<a href="#">
				<p class="map-header">Gatineau</p>
			</a>
		</li>

		<li>
			<p>819-777-4877</p>
		</li>

		<li>
			<p>1085 Boulevard de la Carrière,</p>
		</li>

		<li>
			<p>Gatineau, QC J8Y 6V4</p>
		</li>

		<li>
			<p>Open in Google Maps</p>
		</li>
	</ol>

	<ol class="map">
		<li>
			<a href="#">
				<p class="map-header">Kanata</p>
			</a>
		</li>

		<li>
			<p>613-435-6977</p>
		</li>

		<li>
			<p>737 Silver Seven Rd, Kanata,</p>
		</li>

		<li>
			<p>Ottawa, ON K2V 1C3</p>
		</li>

		<li>
			<p>Open in Google Maps</p>
		</li>
	</ol>

	<ol class="map">
		<li>
			<a href="#">
				<p class="map-header">Orléans</p>
			</a>
		</li>

		<li>
			<p>613-837-9977</p>
		</li>

		<li>
			<p>3732 Innes Rd, Orléans,</p>
		</li>

		<li>
			<p>Ottawa, ON K1W 0C8</p>
		</li>

		<li>
			<p>Open in Google Maps</p>
		</li>
	</ol>

	<ol class="map">
		<li>
			<a href="#">
				<p class="map-header">After Sales Service</p>
			</a>
		</li>

		<li>
			<p>819-777-3220</p>
		</li>

		<li>
			<p>1-833-777-3220</p>
		</li>

		<li>
			<p>service@matelaslapensee.ca</p>
		</li>

	</ol>

</div>

<div id="footer">©Joshua Walker</div>